.button__wrapper{
   padding: 20px 0;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;

   button{
      line-height: 40px;
      color: white;
      border-radius: 5px;
      background-color: royalblue;
      width: 100%;
   }
}