@import '../../styles/mixins';

.wrapper{
  position: relative;
  height: 100vh;
  width: 100%;
}

.edit_card_block{
   position: absolute;
   top: 50%;
	left: 50%;
	transform: translate( -50%,-50%);
   width: 600px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h2{
      padding: 10px 0px;
      font-weight: 600;

      span{
         font-weight: normal;
         width: 400px;
      }
   }

   input,
   textarea{
      width: 300px;
      margin: 0 0 20px 0;
      padding: 10px 5px;
      border: 1px solid #000;
      border-radius: 5px;
   }
}

.buttons{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.link{
   a{
      @include link;
   }
  
}


.warning{
   padding: 20px;
   border: 1px solid rgba($color: red, $alpha: .4);
   border-radius: 5px;
   position: absolute;
   width: 450px;
   left: 50%;
	transform: translate( -50%, 20%);

   &__title{
      text-align: center;
   }

   &__buttons{
      display: flex;
      justify-content: space-between;
   }
}